/* ---- RESET ---- */
*{
    box-sizing: border-box;
}

body,header, main, section, div, ul, li, a, h1, h2, p{
    margin: 0;
    padding: 0;
}

input, textarea, select {
    font-size: 16px;
  }

html {
  -webkit-text-size-adjust: 100%;
}

/* ---- FIN RESET ---- */

:root{

    --primary-color:#222831;
    --secondary-color:#D6A99D;
    --tertiary-color: #A3DC9A;
    --text-color: #EEEDEB;

}

/* ---- FONT ---- */

@font-face {
    font-family: 'OpenSans-Regular';
    src: url(/assets/font/OpenSans_SemiCondensed-Regular.ttf);
    font-style: normal;

}

@font-face {
    font-family: 'OpenSans-Memium';
    src: url(/assets/font/OpenSans_SemiCondensed-Medium.ttf);
    font-style: normal;

}

@font-face {
    font-family: 'OpenSans-Bold';
    src: url(/assets/font/OpenSans-Bold.ttf);
    font-style: normal;

}




body{
    display: grid;
    grid-template-rows: 1fr auto;
    background-color: var(--secondary-color);
    font-family:'OpenSans-Regular';
    min-height: 100dvh;
    color: var(--primary-color);
}

/* ---- MAIN SORTEO ---- */

.sorteo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;       
    max-width: 400px;  
    margin: auto;
    gap: 2rem;
    padding: 1.5rem;
}


/* ---- SECTION SORTEO ---- */
.sorteo__title-container{
    margin-bottom: 1.5rem;
    text-align: center;
}

.sorteo__title{
    font-size: 2rem;
    font-family: 'OpenSans-Bold';
    text-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);

}

.title-gradient{
    display: inline-block;
    color: var(--tertiary-color);
    background-clip: text;
    font-family: 'OpenSans-Bold';
    text-shadow: 0 3px 4px rgba(0, 0, 0, 0.2);
    transform: translateY(0) rotate(0deg);
    animation: caer 2s ease forwards;
}


@keyframes caer {
  100% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
  }
  100% {
    transform: translateY(13px) rotate(10deg);
    opacity: 1;
  }
}


.sorteo__container{
    border-radius: 8px;
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.2);
    padding: 1.5rem;
    width: 100%;  
}

label{
    font-family: 'OpenSans-Memium';
}

.sorteo__input-container{
    margin-bottom: 0.8rem;
    display: flex;
    align-items: center;
    gap: 1rem;
}

#input-ganadores{
    font-size: 0.8rem;

}

.sorteo__textarea{
    resize: none;
    padding: 0.6rem;
    border-radius: 6px;
    width: 100%;
    font-size: inherit;
}

.sorteo__btn-container{
    margin-top: 0.8rem;
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.sorteo__btn{
    border-radius: 6px;
    padding: 0.6rem 1rem;
    border: none;
    background-color: var(--tertiary-color);
    font-family: inherit;
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    color: var(--text-color);
    font-family: 'OpenSans-Memium';
    transition: box-shadow 1.2s ,
    background-color 1.2s ease;
}

#btn-sortear{
    background-color: #7F55B1;
}


#btn-sortear:hover{
    background-color: #452f5f
}

.sorteo__btn:hover{
   box-shadow: none;
   background-color: #698d63;
   opacity: 0.8;
}



[disabled] {
  opacity: 0.5;
  pointer-events: none;
}


/* ---- FIN SECCIÓN SORTEO ---- */



/* ---- SECCIÓN MENSAJES ---- */
.mensaje-informacion{
    background-color: #A6AEBF;
    border-radius: 8px;
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.2);
    padding: 1.5rem; 
}

.mensaje-listaAgregada{
    background-color: #898AC4;
    border-radius: 8px;
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.2);
    padding: 1.5rem; 
}

.mensaje-listaVacia{
    background-color: #9FB3DF;
    border-radius: 8px;
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.2);
    padding: 1.5rem; 
}

.mensaje-ganadores{
    background-color: #FADA7A;
    border-radius: 8px;
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.2);
    padding: 1.5rem; 
}

.mensaje-ganadores p{
    margin-bottom: 0.8rem;
}
/* ---- FIN SECCIÓN MENSAJE ---- */


/* ---- SECCIÓN LISTA ---- */
.sorteo__list{
    border-radius: 8px;
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.2);
    padding: 1.5rem; 
}

.sorteo__list h2{
    color: var(--tertiary-color);
    background-clip: text;
    font-family: 'OpenSans-Bold';
    text-shadow: 0 3px 4px rgba(0, 0, 0, 0.2)
}

.sorteo__list ul{
    padding: 2rem;
    
}
/* ---- FIN SECCIÓN LISTA ---- */
/* ---- MAIN SORTEO FIN ---- */


/* ---- FOOTER ---- */
footer{
    background-color: var(--primary-color);
    padding: 1rem;
}

.footer__container{
    color: var(--text-color);
    text-align: center;
    min-height: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}

.footer__span{
    color: var(--tertiary-color);
}


@media (max-width: 768px) {

  .footer__container p{
    font-size: 0.8rem;
  }
}

/* ---- FOOTER FIN */