/* ---- RESET ---- */
*{
    box-sizing: border-box;
}

body,header, main, section, div, ul, li, a, h1, h2, p{
    margin: 0;
    padding: 0;
}

input, textarea, select {
    font-size: 16px;
  }

html {
  -webkit-text-size-adjust: 100%;
}

/* ---- RESET END ---- */

:root{

    --primary-color:#222831;
    --secondary-color:#D6A99D;
    --tertiary-color: #A3DC9A;
    --text-color: #EEEDEB;

}

/* ---- FONT ---- */

@font-face {
    font-family: 'OpenSans-Regular';
    src: url(./assets/font/OpenSans_SemiCondensed-Regular.ttf);
    font-style: normal;

}

@font-face {
    font-family: 'OpenSans-Memium';
    src: url(./assets/font/OpenSans_SemiCondensed-Medium.ttf);
    font-style: normal;

}

@font-face {
    font-family: 'OpenSans-Bold';
    src: url(./assets/font/OpenSans-Bold.ttf);
    font-style: normal;

}




body{
    background-color: var(--secondary-color);
    font-family:'OpenSans-Regular';
    min-height: 100dvh;
    color: var(--primary-color);
}


/* ---- HEADER ---- */
.header{
    width: 100%;
    background-color: var(--primary-color);
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.2);
    margin-bottom: 2rem;
}

/* ---- NAV ----  */
.header__nav{
    padding: 1rem;
}

.header__list{
    display: flex;
    gap: 1rem;
    justify-content: right;
}

.header__item{
    list-style: none;
}

.header__link{
    text-decoration: none;
    color: var(--text-color);
    transition: color 1s ease;
}


.header__link:hover{
    color: var(--tertiary-color);
}
/* ---- HEADER END ---- */


/* ---- MAIN SORTEO ---- */

.sorteo{
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin: auto;
    gap: 2rem;
    padding: 1.5rem;
}


/* ---- SECTION SORTEO ---- */
.sorteo__title-container{
    margin-bottom: 1.5rem;
    text-align: center;
}

.sorteo__title{
    font-size: 2rem;
    font-family: 'OpenSans-Bold';
    text-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);

}

.title-gradient{
    color: var(--tertiary-color);
    background-clip: text;
    font-family: 'OpenSans-Bold';
    text-shadow: 0 3px 4px rgba(0, 0, 0, 0.2)
}    


.sorteo__container{
    border-radius: 8px;
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.2);
    padding: 1.5rem;  
}

label{
    font-family: 'OpenSans-Memium';
}

.sorteo__input-container{
    margin-bottom: 0.8rem;
    display: flex;
    align-items: center;
    gap: 1rem;
}

#input-ganadores{
    font-size: 0.8rem;

}

.sorteo__textarea{
    resize: none;
    padding: 0.6rem;
    border-radius: 6px;
    width: 100%;
    font-size: inherit;
}

.sorteo__btn-container{
    margin-top: 0.8rem;
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.sorteo__btn{
    border-radius: 6px;
    padding: 0.6rem 1rem;
    border: none;
    background-color: var(--tertiary-color);
    font-family: inherit;
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    color: var(--text-color);
    font-family: 'OpenSans-Memium';
    transition: box-shadow 1.2s ease,
    background-color 1.2s ease;
}


.sorteo__btn:hover{
   box-shadow: none;
   background-color: var(--primary-color);
   opacity: 0.8;
}



[disabled] {
  opacity: 0.5;
  pointer-events: none;
}


/* ---- SECTION SORTEO END ---- */



/* ---- SECTION MENSAJES ---- */
.mensaje-informacion{
    background-color: #A6AEBF;
    border-radius: 8px;
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.2);
    padding: 1.5rem; 
}

.mensaje-listaAgregada{
    background-color: #898AC4;
    border-radius: 8px;
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.2);
    padding: 1.5rem; 
}

.mensaje-listaVacia{
    background-color: #9FB3DF;
    border-radius: 8px;
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.2);
    padding: 1.5rem; 
}

.mensaje-ganadores{
    background-color: #FADA7A;
    border-radius: 8px;
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.2);
    padding: 1.5rem; 
}

.mensaje-ganadores p{
    margin-bottom: 0.8rem;
}
/* ---- SECTION MENSAJE END ---- */


/* ---- SECTION LISTA ---- */
.sorteo__list{
    border-radius: 8px;
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.2);
    padding: 1.5rem; 
}

.sorteo__list h2{
    color: var(--tertiary-color);
    background-clip: text;
    font-family: 'OpenSans-Bold';
    text-shadow: 0 3px 4px rgba(0, 0, 0, 0.2)
}

.sorteo__list ul{
    padding: 2rem;
    
}
/*  ---- SECTION LISTA END */
/* ---- MAIN SORTEO END ---- */