/* ---- RESET ---- */
*{
    box-sizing: border-box;
}

body,header, main, section, div, ul, li, a, h1, h2, p{
    
    margin: 0;
    padding: 0;
}

input, textarea, select {
    font-size: 16px;
  }

html {
  -webkit-text-size-adjust: 100%;
}


/* ---- FIN RESET ---- */

/* ---- FONT ---- */

@font-face {
    font-family: 'OpenSans-Regular';
    src: url(/assets/font/OpenSans_SemiCondensed-Regular.ttf);
    font-style: normal;

}

@font-face {
    font-family: 'OpenSans-Medium';
    src: url(/assets/font/OpenSans_SemiCondensed-Medium.ttf);
    font-style: normal;

}

@font-face {
    font-family: 'OpenSans-Bold';
    src: url(/assets/font/OpenSans-Bold.ttf);
    font-style: normal;

}




:root{

    --primary-color:#222831;
    --secondary-color:#D6A99D;
    --tertiary-color: #A3DC9A;
    --text-color: #EEEDEB;
    --font-family-regular: 'OpenSans-Regular';
    --font-family-medium: 'OpenSans-Medium';
    --font-family-bold: 'OpenSans-Bold';
}

/* ---- ANIMACIONES ---- */
@keyframes caer {
  0% {
    transform: translateY(-120px) rotate(-12deg);
  }
  30% {
    transform: translateY(0) rotate(0deg);
  }
  50% {
    transform: translateY(-25px) rotate(-6deg); 
  }
  65% {
    transform: translateY(12px) rotate(5deg);
  }
  80% {
    transform: translateY(-8px) rotate(-3deg); 
  }
  95% {
    transform: translateY(10px) rotate(6deg);
  }
  100% {
    transform: translateY(14px) rotate(11deg); 
  }
}

@keyframes aparecer {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }
    60% {
        transform: translateX(10%);
        opacity: 1;
    }
    80% {
        transform: translateX(-5%);
    }
    100% {
        transform: translateX(0);
    }
}


body{
    display: grid;
    grid-template-rows: 1fr auto;
    background-color: var(--secondary-color);
    font-family:var(--font-family-regular);
    min-height: 100dvh;
    color: var(--primary-color);
}

/* ---- MAIN SORTEO ---- */

.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;       
    max-width: 400px;  
    margin: auto;
    gap: 2rem;
    padding: 1.5rem;
}


/* ---- MAIN ---- */
.main__encabezado{
    margin-bottom: 1.5rem;
    text-align: center;
}

.main__titulo{
    font-size: 2rem;
    font-family: var(--font-family-bold);
    text-shadow: 0 2px 3px rgba(0, 0, 0, 0.12);
    

}

.main__titulo-gradiente{
    display: inline-block;
    color: var(--tertiary-color);
    font-family: 'OpenSans-Bold';
    transform: translateY(0) rotate(0deg);
    animation: caer 2s linear forwards;
}


/* ---- SECCIÓN SORTEO ---- */
.sorteo{
    border-radius: 8px;
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.2);
    padding: 1.5rem;
    width: 100%;  
}

label{
    font-family: var(--font-family-medium);
}

.sorteo__input{
    margin-bottom: 0.8rem;
    display: flex;
    align-items: center;
    padding: 4px;
    gap: 1rem;
}

#input__ganadores{
    font-size: 0.7rem;
    border-radius: 0.4rem;
    padding: 2px 6px;
    border: none;

}

.sorteo__textarea{
    resize: none;
    padding: 0.6rem;
    border-radius: 6px;
    border: none;
    width: 100%;
    font-size: inherit;
}

.sorteo__btns{
    margin-top: 0.8rem;
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.sorteo__btn{
    border-radius: 6px;
    padding: 0.6rem 1rem;
    border: none;
    background-color: var(--tertiary-color);
    font-family: inherit;
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    color: var(--text-color);
    font-family: var(--font-family-medium);
    transition: box-shadow 1.2s ,
    background-color 1.2s ease;
}

#btn-sortear{
    background-color: #7F55B1;
}


#btn-sortear:hover{
    background-color: #452f5f
}

.sorteo__btn:hover{
   box-shadow: none;
   background-color: #698d63;
   opacity: 0.8;
}


[disabled] {
  opacity: 0.5;
  pointer-events: none;
}
/* ---- FIN SECCIÓN SORTEO ---- */



/* ---- SECCIÓN MENSAJES ---- */
.mensajes{
    border-radius: 8px;
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.2);
    padding: 1.5rem; 
    transform: translateX(-100%);
    animation: aparecer 1.2s ease-out forwards;
}

.mensaje-informacion{
    background-color: #A6AEBF;
}

.mensaje-listaAgregada{
    background-color: #898AC4;
}

.mensaje-listaVacia{
    background-color: #9FB3DF;

}

.ganadores {
    transform: translateX(-100%);
    animation: aparecer 1.2s ease-out forwards;
    background-color: #FADA7A;
    border-radius: 8px;
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.2);
    padding: 1.5rem; 
}

.ganadores__encabezado{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px;
    margin-bottom: 0.7rem;
    border-bottom: 1px solid #868c9a;
}

.ganadores__titulo{
    font-family: var(--font-family-medium);
    font-size: 1rem;
}

.ganadores__titulo span{
    color: var(--tertiary-color);
}

.ganadores__fecha{
    color: #868c9a;
    font-size: 0.7rem;
}

.ganadores__lista{
    padding: 1rem;
    list-style: none;
}

.ganadores__lista li{
    margin-bottom: 0.3rem;
}

.ganadores__lista li span{
    font-family: var(--font-family-medium);
    font-size: 1rem;
}

/* ---- FIN SECCIÓN MENSAJE ---- */


/* ---- SECCIÓN LISTA ---- */
.lista__contenedor{
    border-radius: 8px;
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.2);
    padding: 1.5rem;
}



.lista__encabezado{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #868c9a;
    padding: 4px;

}


.lista__titulo{
    color: var(--tertiary-color);
    font-family: var(--font-family-medium);
    font-size: 1.2rem;
}

.lista__contador{
    color: #868c9a;
}



.lista__items{
    padding: 2rem; 
}








/* ---- FIN SECCIÓN LISTA ---- */
/* ---- FIN MAIN ---- */


/* ---- FOOTER ---- */
.footer{
    background-color: var(--primary-color);
    padding: 1rem;
}

.footer__contenedor{
    color: var(--text-color);
    text-align: center;
    min-height: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    font-size: 0.9rem;
}

.footer__span{
    color: var(--tertiary-color);
}


@media (max-width: 768px) {

  .footer__texto{
    font-size: 0.7rem;
  }
}

/* ---- FIN FOOTER ---- */